*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo{
    max-width: 70px;
    min-width: 30px;
    height: auto;
}

.logo img{
    width: 100%;
    margin-left: 1rem;
    margin-top: 1rem;
}

#page-nav label, #hamburgar{
    display: none;
}

header{
    display: flex;
    justify-content: space-between;
    background: white;
    position: sticky;
    top: 0;
    box-shadow: 0px 0px 3px 0px rgb(187, 184, 184);
}


ul{
    list-style-type: none;
    
}

#page-nav ul li{
    display: inline-block;
    padding: 15px;
    margin-right: 10px;
}
#page-nav ul li a{
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(47, 47, 156);
}

#page-nav ul li a:hover{
    color: rgb(145, 141, 141);
}

.headings h3{
    margin: 4rem 0rem 0rem 3rem;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.headings h5{
    margin-left: 3rem;
    font-size: 1rem;
    color: white;
}

.image-holder{
    background-image: url(./image/paul-gilmore-yGbIdzKktZI-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    padding-bottom: 5rem;
    padding-top: 5rem;
}

.flex-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.mentors{
    background: white;
    box-shadow: 1px 1px 1px 1px gray;
    /* padding: 5px 5px 100px 5px; */
    margin-left: 3rem;
    padding: 10px;
    max-width: 380px;
    min-width: 100px;
    height: auto;
    padding-bottom: 5rem;
}

.mentors h3{
    text-align: center;
    background: rgb(72, 134, 98);
    padding: 24px;
    color: white;
    margin: -0.6rem;
    margin-right: -0.8rem;
    font-size: 1.5rem;
}

.mentors h5{
    font-size: 1rem;
    margin-top: 3rem;
    line-height: 1rem;
    color: gray;
}

.mentors button{
    display: block;
    padding: 10px;
    border: none;
    text-align: center;
    background: green;
    color: white;
    border-radius: 5px 5px 5px 5px;
    margin-top: 4rem;
    
}

.mentors button:hover{
    background-color: gray;
    cursor: pointer;
}
.interns{
    background: white;
    box-shadow: 1px 1px 1px 1px gray;
    /* padding: 5px 5px 100px 5px; */
    padding: 10px;
    max-width: 380px;
    min-width: 100px;
    height: auto;
    padding-bottom: 5rem;
}

.interns h3{
    text-align: center;
    background: pink;
    padding: 24px;
    color: white;
    margin: -0.6rem;
    margin-right: -0.8rem;
    font-size: 1.5rem;
}

.interns h5{
    font-size: 1rem;
    margin-top: 3rem;
    line-height: 1rem;
    color: gray;
}

.interns button{
    display: block;
    padding: 10px;
    border: none;
    text-align: center;
    background: pink;
    color: white;
    border-radius: 5px 5px 5px 5px;
    margin-top: 4rem;
    
}
.interns button:hover{
    background: gray;
    cursor: pointer;
}

.feedbacks{
    background: #192f59;
    box-shadow: 1px 1px 1px 1px gray;
    padding-bottom: 6rem;
    margin-top: -5rem;
    margin-bottom: -3rem;
    padding-top: 5rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    margin-right: 1rem;
}

.feedbacks h4{
    font-size: 2rem;
    margin-top: -3rem;
    color: white;
}

h6{
    font-size: 0.8rem;
    margin-top: 1rem;
    color: green;
}

.feedbacks h5{
    font-size: 1.2rem;
    margin-top: 1rem;
    color: white;
}
.feedbacks h3{
    font-size: 1rem;
    margin-top: 0.8rem;
    color: white;
}
.feedbacks button{
    padding: 15px;
    margin-top: 4rem;
    border: none;
    border-radius: 4px 4px 4px 4px;
    background: seagreen;
    color: white;
}

.feedbacks button:hover{
    background-color: green;
    cursor: pointer;
}

footer{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    color: gray;
    margin-bottom: 1rem;
}

.links ul li{
    display: inline-block;
    padding: 10px;
}

.links ul li a{
    text-decoration: none;
    color: gray;
}
.links h4{
    margin-left: 1rem;
}

#About-page{
    /* text-align: center; */
    margin-bottom: 1rem;
}

#About-page h3{
    color: seagreen;
    margin-top: 2rem;
}
#About-page h5{
    font-size: 1rem;
    color: gray;
}

.headings h4{
    color: white;
    margin-left: 2.8rem;
}

.headings form{
    max-width: 400px;
    min-width: 100px;
    height: auto;
    background-color:#192f59;
    padding: 20px;
    display: block;
    margin-left: 2rem;
    margin-top: 2rem;
}
form button{
    padding: 10px;
    display: block;
    border: none;
    margin-top: 1rem;
    border-radius: 3px 3px 3px 3px;
}

form :nth-child(1){
    margin-bottom: 3rem;
}
form label{
    display: block;
    color: white;
}
form input{
    padding: 8px;
    border: none;
    margin-top: 0.5rem;
}

@media only screen and (max-width:1050px){
    .flex-wrapper{
        /* display: block;
    }

    .flex-wrapper :nth-child(2){
        margin-top: 2rem;
    }

    .flex-wrapper :nth-child(3){
        margin-top: 2rem;
    }

    .interns{
        background: white;
        box-shadow: 1px 1px 1px 1px gray;
        /* padding: 5px 5px 100px 5px; */
        padding: 10px;
        max-width: 500px;
        margin-top: 30px;
        /* min-width: 100px; */
        height: auto;
        padding-bottom: 5rem;
        margin: auto;
    }
    
    .mentors{
        background: white;
        box-shadow: 1px 1px 1px 1px gray;
        /* padding: 5px 5px 100px 5px; */
        padding: 10px;
        max-width: 500px;
        /* min-width: 100px; */
        height: auto;
        padding-bottom: 5rem;
        margin: 0 auto;
    }

    .feedbacks{
        background: #192f59;
        box-shadow: 1px 1px 1px 1px gray;
        padding-bottom: 6rem;
        margin-top: -5rem;
        max-width: 700px;
        margin: auto;
        margin-bottom: -3rem;
        padding-top: 5rem;
        padding-left: 1.4rem;
        padding-right: 1.4rem;
        /* margin-right: 1rem; */
    } */

    #About-page{
        text-align: justify;
    }
    #About-page h3{
        /* float: left; */
        margin-left: 1rem;
    }

    #About-page h5{
        text-align: justify;
        margin-left: 1rem;
    }
    footer{
        border-top: 1px solid gray;
    }

    #page-nav label{
        display:inline-block ;color: #fff;
        background: #192f59;
        font-style: normal;
        font-size: 1.5em;
        padding: 10px;
        margin-top: 1rem;

    }   
    #page-nav ul li{
        display: block;
    }
    #page-nav ul li{
        border-top: 1px solid white;
    }
    #page-nav ul li:hover{
        background: grey;
    }
    #page-nav ul{
        display: none;
    } 
    #page-nav input:checked ~ ul{
        display: block;

    }

}